body {
    background-image: url(blue.png);
    background-size: auto;
}

* {
    color:#fffdfd;
    font-style:arial; 
    
}

a{
	text-decoration: none;
}
a:link{
    color:rgb(237, 243, 235);
    color:rgb(246, 248, 245);
}

a:hover {
    color:rgb(228, 231, 29);
}


form input{
	margin-top:10px;
	margin-bottom: 5px
}
iframe{
    margin-top: 13%;
    padding: 15px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
}


nav {
    position: absolute;
    font-size: 24px;
    left: 0%;
    top: 0%;
    background:linear-gradient(black, rgba(31, 31, 233, 1.0));
    right: 0%;
    text-align: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline;
}

li{
    padding-right: 50px;
    font-weight: bold;
    display: inline;
}

main{
    margin-top:  21%;
}


#imgHeader{
    width: 15%;
    height: 15%;
    align-content: center;
}

.imgHeader1{
    width: 12%;
    height: 12%;

}

#divMain{
    padding: 15px;
    font-size: 15px;
    margin: auto;
    width: 60%;
    background-image: url(Fyelow.png);
    border-radius: 50px;
    height: 25%;
    
}

#divMain  h1{
    font-weight: bolder;
    color: black;
    text-indent: 30px;
    line-height: 0px;
    text-align: center;
    font-size: 35px;
    
    
    

}
#divMain  p{
    font-weight: bolder;
    color: black;
    text-indent: 40px;
    line-height: 50px;
    line-break: 200;
    font-size: 25px;
    text-align: justify;
    

}

#top{
    text-align: center;
    font-size:32px;
}


footer {
    background-color: #141414;
    color: #f9fcf8;
    padding: 0.5%;
    text-align: center;
    font-size: 23px;

}
